.greetings__container {
  position: absolute;
  color: transparent;

  font-size: 3vw;
  width: fit-content;

  animation: greeting-ani 2s none 0s 2 alternate;
  //animation: name duration timing-function delay iteration-count direction fill-mode;
}


@keyframes greeting-ani {
  from {
    color: transparent;
  }
  to {
    color: white;
  }
}

@media screen and (max-width: 750px){
  .greetings__container {
    font-size: 2vh;
  }
}