.greeting__container {
  position: absolute;
  color: transparent;
  animation: greeting-ani 2s none 0s 2 alternate;
  //animation: name duration timing-function delay iteration-count direction fill-mode;
}


@keyframes greeting-ani {
  from {
    color: transparent;
  }
  to {
    color: white;
  }
}
