.projects {
  flex-direction: column;
  justify-content:start;
  align-items: center;
  width: 100%;
  //animation: fast-appearance 0.25s none 0s 1;

  &__header {
    margin-top: 5rem;
  }

  &__container {
    flex-direction: row;
    border-top: 2px solid white;
    width: 66%;

    &__info {
      flex-direction: column;
    }
  }
}

