.projects {
  flex-direction: column;
  justify-content:start;
  align-items: center;
  width: 100%;
  //animation: fast-appearance 0.25s none 0s 1;

  &__header {
    margin: 5rem 0;
  }

  &__container {
    flex-direction: row;
    border-top: 2px solid white;
    width: 80%;
    padding: 25px 0;

    &__preview {
      align-items: center;
      
      &__image {
        border: 2px solid slategray;
        height: fit-content;
        max-width: 350px;
        transition: all .2s ease;
        vertical-align: middle;
        
        &:hover {
          transform: scale(1.05);
          cursor: pointer;
        }
      }
    }


    &__info {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 50px;

      &__link {
        text-decoration: none;
      }

      &__name {
        color: bisque;
        margin-top: 0;
        transition: color .25s;

        &:hover {
          color: plum;
        }
      }

      &__description {
        text-align: left;
      }
    }
  }
}

