.resume {
  width: 100%;
  flex-direction: column;

  &__files {
    justify-content: space-around;

    &__download {
      flex-direction: column;
      
      &__header {
        margin-top: 0;
      }
      
      &__link {
        margin: 25px 0;
        color: white;
        border: 5px solid slategray;
        border-radius: 50%;
        padding: 40px;
        width: 200px;
        height: 200px;

        &:hover {
          background-color:slategray;
          transition: background-color 0.35s;
        }
      }

      &__image {
        width: 120px;
        height: 150px;
      }
    }

    &__drive {
      flex-direction: column;
    }
    &__live-pdf {
      width: 850px;
      height: 1075px;
    }
  }
}