.image-viewer {
  position: fixed;
  background-color: var(--black-half-transparent);
  justify-content: center;
  align-items: center;
  inset: 0;
  

  &__image {
    max-width: 80vw;
    max-height: 80vh;
    border: 10px solid white;
    border-radius: 10px;
    animation: center-expand .2s;
    animation-fill-mode: forwards;
  }

  &__buttons {
    position: fixed;
    bottom: 2em;
    right: 2vw;
    top: 2vh;
    flex-direction: column;
    align-items: center;
    height: min-content;

    &__new-tab, &__close {
      width: 40px;
      height:40px;
      background-color: var(--black-half-transparent);
      padding: 10px;
      border-radius: 50%;
      margin-top: 10px;

      &__label {
        opacity: 0;
        font-size: 1.2rem;
      }

      &:hover {
        transform: scale(.90);
        cursor: pointer;
      }

      &:hover + &__label {
          opacity: 1;
      }
    }
  
  }
}


@keyframes center-expand {
  from {
    transform: scale(0.3);
  }
  to {
    transform: scale(1);
    
  }
}