.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.greeting__container {
position: absolute;
color: transparent;
animation: greeting-ani 2s none 0s 2 alternate;
//animation-direction: alternate;
//animation: greeting-ani-2 1s none 0s 1 reverse;
//animation: name duration timing-function delay iteration-count direction fill-mode;
}


@keyframes greeting-ani-1 {
  from {
    //transform: rotate(0deg);
    color: white;
  }
  to {
    //transform: rotate(360deg);
    color: transparent;
  }
}

@keyframes greeting-ani {
  from {
    color: transparent;
  }
  to {
    color: white;
  }
}